$italics-size: 44px;
@font-face {
    font-family: italics;
    src: url("../fonts/Flood.ttf");
  }
  $tablet-max: 768px;
  $mobile-max: 425px;
  
  @mixin mobile {
    @media screen and (max-width: $mobile-max) {
      @content;
    }
  }
  
  @mixin tab {
    $italics-size: 44px;
    @media screen and(min-width:$mobile-max+1) and (max-width: $tablet-max) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $tablet-max+1) {
      $italics-size: 72px;
      @content;
    }
  }
  // p{
  //   @include mobile{
  //     display: none;
  //   }
  // }
.italics {
  font-family: italics;
  width: fit-content;
  color: #fff;

  @include mobile {
    $italics-size: 44px;
    line-height: $italics-size;
    font-size: $italics-size;
  }

  @include tab {
    $italics-size: 44px;
    line-height: $italics-size;
    font-size: $italics-size;
  }

  @include desktop {
    $italics-size: 72px;
    line-height: $italics-size;
    font-size: $italics-size;
  }
}
button {
  background-color: #c1f7d5;
  color: #354463;
  width: fit-content;
  padding: 16px;
  border-radius: 100px;
  font-size: 18px;
  border: none;
  font-weight: bold;
}
body {
    margin: 0;
    width: 100%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
  }
  h1{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
header{
  color: #354463;
  font-weight: bold;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
  background-color: #fff;
    @include mobile{
      font-size: 18px;
    }
    @include tab{
      font-size: 22px;
    }
    @include desktop{
      font-size: 28px;
    }
}
main,footer{
  padding-left:  30px;
  padding-right: 30px;
}
input{
  @include mobile{
    width:80%;
  }
  color: #fff;
  background-color: #354463;
  border:none;
  border-color: #354463;
  border-bottom:2px solid #fff ;

  transition: all .15s ease;
  
  &:focus{
    outline: none;
    +label{
      bottom: 40px;
      transform: scale(0.85);
    }
  }
  &:not(:placeholder-shown){
    +label{
      bottom: 40px;
      transform: scale(0.85);
    }
  }
}
select{
  background-color:#354463;
  color: #fff;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
label{
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  //padding-left: 5px;
  bottom: 20px;
  transform-origin: 0 0;
  transition: all .2s ease;
  color: rgba(#aaa,.5);
}

main{
    background-image: url("../images/donation/annie-spratt-427340-unsplash.png");
    h1{
      margin-bottom: 20px;
    }
    p{
      font-size: 14px;
      margin-bottom: 20px;
    }
    @include mobile{
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
    }
    @include tab{
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
    }
    @include desktop{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding:10vw;
    }
    .italics{
      text-align: center;
      padding: 20px;
      @include mobile{
        font-size: 32px;
      }
      @include desktop{
        text-align: left;
        grid-column: 2/3;
        align-self: first baseline; 
      }
    }
    .payment{
      background-color: #354463;
      padding:30px;
      @include desktop{
        grid-column: 1/2;
        grid-row: 1/3;
      }
    }
    .details{
      display: grid;
      grid-template-columns: minmax(auto,1fr) minmax(auto,1fr);
      grid-column-gap: 10px;
      margin-bottom: 20px;
      align-items: end;
      justify-content: end;
    }
    .payment-info{
      display: grid;
      grid-template-columns:  1fr 1fr;
      grid-column-gap: 10px;
      align-items: end;
    }
    .full,.half,.half-half{
      display: flex;
      flex-direction: column;
    }
    .full{
      grid-column: 1/3;
      input{
        width: 100%;
      }
    }
    .half-half{
      display:grid;
      align-items: end;
      grid-gap: 5px;
      grid-template-columns: 1fr 1fr;
      input{
        width: 100%;
      }
    }
    .expiry{
      div{
        display: flex;
        flex-direction: column;
      }
    }
    .note{
      font-size: 28px;
      margin:20px 0px;
      font-weight: bold;
      @include mobile{
        font-size: 18px;
      }
    }
    .btns{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mobile{
        flex-direction: column;
        width:100%;
      }
      a{
        color: #fff;
      }
      button{
        @include mobile{
          margin-bottom: 20px;
          order:-1;
        }
        
      }
    }   
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
footer {
  background-color: #fff;
  color: #354463;
  padding-top: 10vw;
  padding-bottom: 10vw;
  .follow-us,
  .learn-more,.contact-us {
    display: flex;
    flex-direction: column;
  }
  p,
  a,span {
    margin: 6px 0px;
  }
  display: grid;
  align-items: start;
  @include mobile {
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    grid-gap: 30px;
  }
  @include tab {
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    grid-row-gap: 30px;
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr) auto;
    grid-gap: 30px;
    align-items: start;
  }
  .follow-us {
    @include tab {
      justify-self: center;
    }
  }
  .learn-more {
    @include tab {
      grid-column: 2/3;
    }
  }
  h3{
    margin-top:0;
  }
  .italics {
    text-align: end;
    color: #354463;
    justify-self: end;
    margin-top: 0%;
    @include mobile {
      grid-column: 1/3;
    }
    @include tab {
      grid-column: 3/4;
    }
    @include desktop {
      grid-column: 5/6;
    }
  }
}
