@font-face {
  font-family: italics;
  src: url("../fonts/Flood.ttf");
}

.italics {
  font-family: italics;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
}

@media screen and (max-width: 425px) {
  .italics {
    line-height: 44px;
    font-size: 44px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .italics {
    line-height: 44px;
    font-size: 44px;
  }
}

@media screen and (min-width: 769px) {
  .italics {
    line-height: 72px;
    font-size: 72px;
  }
}

button {
  background-color: #c1f7d5;
  color: #354463;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px;
  border-radius: 100px;
  font-size: 18px;
  border: none;
  font-weight: bold;
}

body {
  margin: 0;
  width: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
  color: #354463;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

@media screen and (max-width: 425px) {
  header {
    font-size: 18px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  header {
    font-size: 22px;
  }
}

@media screen and (min-width: 769px) {
  header {
    font-size: 28px;
  }
}

main, footer {
  padding-left: 30px;
  padding-right: 30px;
}

input {
  color: #fff;
  background-color: #354463;
  border: none;
  border-color: #354463;
  border-bottom: 2px solid #fff;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

@media screen and (max-width: 425px) {
  input {
    width: 80%;
  }
}

input:focus {
  outline: none;
}

input:focus + label {
  bottom: 40px;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

input:not(:placeholder-shown) + label {
  bottom: 40px;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

select {
  background-color: #354463;
  color: #fff;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  bottom: 20px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: rgba(170, 170, 170, 0.5);
}

main {
  background-image: url("../images/donation/annie-spratt-427340-unsplash.png");
}

main h1 {
  margin-bottom: 20px;
}

main p {
  font-size: 14px;
  margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 769px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 10vw;
  }
}

main .italics {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 425px) {
  main .italics {
    font-size: 32px;
  }
}

@media screen and (min-width: 769px) {
  main .italics {
    text-align: left;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: first baseline;
        -ms-grid-row-align: first baseline;
        align-self: first baseline;
  }
}

main .payment {
  background-color: #354463;
  padding: 30px;
}

@media screen and (min-width: 769px) {
  main .payment {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

main .details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 1fr) minmax(auto, 1fr);
      grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
  grid-column-gap: 10px;
  margin-bottom: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main .payment-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

main .full, main .half, main .half-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

main .full input {
  width: 100%;
}

main .half-half {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-gap: 5px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .half-half input {
  width: 100%;
}

main .expiry div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .note {
  font-size: 28px;
  margin: 20px 0px;
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  main .note {
    font-size: 18px;
  }
}

main .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  main .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

main .btns a {
  color: #fff;
}

@media screen and (max-width: 425px) {
  main .btns button {
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

footer {
  background-color: #fff;
  color: #354463;
  padding-top: 10vw;
  padding-bottom: 10vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

footer .follow-us,
footer .learn-more, footer .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer p,
footer a, footer span {
  margin: 6px 0px;
}

@media screen and (max-width: 425px) {
  footer {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr/1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  footer {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1fr 1fr/1fr 1fr 1fr;
    grid-row-gap: 30px;
  }
}

@media screen and (min-width: 769px) {
  footer {
    -ms-grid-columns: (1fr)[4] auto;
        grid-template-columns: repeat(4, 1fr) auto;
    grid-gap: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  footer .follow-us {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  footer .learn-more {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

footer h3 {
  margin-top: 0;
}

footer .italics {
  text-align: end;
  color: #354463;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: 0%;
}

@media screen and (max-width: 425px) {
  footer .italics {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  footer .italics {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}

@media screen and (min-width: 769px) {
  footer .italics {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
  }
}
/*# sourceMappingURL=donation.css.map */