body {
  margin: 0;
  width: 100%;
  color: #354463;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 22px;
}

header,
.main-text,
.take-action,
.what-we-do,
.did-you-know,
.stories,
.plan,
.subscribe,
footer {
  padding-left: 7vw;
  padding-right: 7vw;
}

.the-green-treees-initiative {
  font-size: 22px;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .the-green-treees-initiative {
    font-size: 18px;
  }
}

.long-button {
  background-color: #c1f7d5;
  color: #354463;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px;
  border-radius: 100px;
  margin-bottom: 5vw;
  font-size: 18px;
  border: none;
  font-weight: bold;
  outline: none;
}

@media screen and (max-width: 425px) {
  .long-long-button {
    width: 100%;
  }
}

.float {
  background-color: #354463;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 35px;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.italics {
  font-family: italics;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
}

@media screen and (max-width: 425px) {
  .italics {
    line-height: 44px;
    font-size: 44px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .italics {
    line-height: 44px;
    font-size: 44px;
  }
}

@media screen and (min-width: 769px) {
  .italics {
    line-height: 72px;
    font-size: 72px;
  }
}

header {
  background-color: #fff;
  padding-top: 5vw;
  display: -ms-grid;
  display: grid;
  position: relative;
}

@media screen and (max-width: 425px) {
  header {
    -ms-grid-rows: 1.5fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1.5fr 1fr/1fr 1fr;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1.5fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1.5fr 1fr/1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  header {
    padding-top: 1vw;
    padding-bottom: 1vw;
    -ms-grid-columns: 2fr 3fr 1fr;
        grid-template-columns: 2fr 3fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 425px) {
  header form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  header form {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media screen and (min-width: 769px) {
  header form .long-button {
    margin-bottom: 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

header .header-points span {
  margin-top: 0;
  margin-bottom: 5%;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  header .header-points span {
    padding-right: 40px;
  }
}

@media screen and (max-width: 425px) {
  header .header-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: end;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  header .header-points {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 769px) {
  header .header-points {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@font-face {
  font-family: italics;
  src: url("../fonts/Flood.ttf");
}

main {
  background-color: green;
  position: relative;
  width: inherit;
  background-image: url("../images/home/annie-spratt-135307-unsplash.png");
  padding-bottom: 44px;
}

@media screen and (max-width: 425px) {
  main {
    background-position: left 40% top -270px;
    background-size: 1500px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  main {
    background-position: left 30% top -270px;
    background-size: 1500px;
  }
}

@media screen and (min-width: 769px) {
  main {
    background-position: left 10% top -300px;
    background-size: 2000px;
  }
}

main .main-text {
  height: 100%;
  padding-top: 44px;
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 425px) {
  main .main-text {
    -ms-grid-rows: 1.7fr 1fr;
        grid-template-rows: 1.7fr 1fr;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  main .main-text {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  main .main-text {
    padding-top: 150px;
    -ms-grid-columns: 1.4fr 1fr;
        grid-template-columns: 1.4fr 1fr;
    grid-gap: 44px;
  }
}

main .italics {
  font-family: italics;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 44px;
  font-size: 44px;
  color: #fff;
}

@media screen and (min-width: 769px) {
  main .italics {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    font-size: 72px;
  }
}

main .the-issue {
  padding: 0px 25px 25px 25px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 425px) {
  main .the-issue {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  main .the-issue {
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 769px) {
  main .the-issue {
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

main .the-issue h1 {
  position: relative;
  margin-top: 0px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  main .the-issue h1 {
    font-size: 36px;
  }
}

@media screen and (min-width: 769px) {
  main .the-issue h1 {
    font-size: 44px;
  }
}

main .the-issue a {
  margin-top: 22px;
}

.take-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c1f7d5;
  padding-bottom: 44px;
}

.take-action .actions {
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 425px) {
  .take-action .actions {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 5%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .take-action .actions {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 5%;
  }
}

@media screen and (min-width: 769px) {
  .take-action .actions {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
  }
}

.take-action h3 {
  margin: 0;
}

.take-action p {
  margin-top: 4%;
}

.what-we-do {
  background-color: #354463;
  text-align: center;
}

.what-we-do .float {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #fff;
  color: #354463;
  margin: auto;
}

@media screen and (min-width: 769px) {
  .what-we-do .float {
    margin-left: 0%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .what-we-do .float {
    margin-left: 0%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .what-we-do {
    text-align: left;
  }
}

@media screen and (min-width: 769px) {
  .what-we-do {
    text-align: left;
  }
}

.what-we-do h1 {
  margin: 50px 0px 70px 0px;
  color: #fff;
}

.what-we-do .grid {
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 425px) {
  .what-we-do .grid {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .what-we-do .grid {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .what-we-do .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
}

.what-we-do .grid .box {
  background-color: #fff;
  margin-bottom: 15%;
  padding: 0% 22px;
  position: relative;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .what-we-do .grid .box {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 0.3fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 0.3fr/1fr 1fr;
    grid-gap: 50px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .what-we-do .grid .box .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 425px) {
  .what-we-do .grid .box img {
    width: 90%;
    position: relative;
    top: -25px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .what-we-do .grid .box img {
    width: 100%;
    position: relative;
    top: -30px;
  }
}

@media screen and (min-width: 769px) {
  .what-we-do .grid .box img {
    width: 100%;
    position: relative;
    top: -35px;
    right: -55px;
  }
}

.what-we-do .grid .box h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 425px) {
  .what-we-do .grid .box h3 {
    font: size 18px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .what-we-do .grid .box h3 {
    font-size: 22px;
  }
}

@media screen and (min-width: 769px) {
  .what-we-do .grid .box h3 {
    padding: 0 5px;
    font-size: 28px;
  }
}

.what-we-do .grid .box h3 p {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
  .what-we-do .grid .box h3 p {
    padding: 0 5px;
  }
}

.what-we-do .grid .box h3 .long-button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .what-we-do .grid .box h3 .long-button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.did-you-know {
  background-image: url("../images/home/did-you-know-background.jpg");
  padding-bottom: 8vw;
  padding-top: 7vw;
}

@media screen and (max-width: 425px) {
  .did-you-know {
    background-position: left 48% bottom 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 2550px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .did-you-know {
    background-position: left 68% top 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1600px;
  }
}

@media screen and (min-width: 769px) {
  .did-you-know {
    background-position: right 0px top 0px;
    background-size: cover;
  }
}

.did-you-know .italics {
  width: 80%;
  margin-bottom: 30px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .did-you-know {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
  }
}

@media screen and (min-width: 769px) {
  .did-you-know {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    grid-gap: 17vw;
  }
}

.did-you-know .float {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  margin-left: 30px;
}

.did-you-know .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.did-you-know .grid .fact {
  background-color: #fff;
  margin-top: 20px;
  padding: 30px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.did-you-know .grid .fact .share {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.did-you-know .grid .fact .share .twitter {
  padding: 10px;
}

.did-you-know .grid .fact .share .fb {
  padding: 10px 15px;
}

.did-you-know .grid img {
  background-color: #c1f7d5;
  border-radius: 50% 50%;
  width: initial;
  height: initial;
}

.stories {
  background-color: #fff;
  padding-top: 9vw;
  padding-bottom: 8vw;
}

.stories .stories-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 425px) {
  .stories .stories-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .stories .stories-top {
    margin-left: 50px;
  }
}

@media screen and (min-width: 769px) {
  .stories .stories-top {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.1fr 1fr 0.25fr;
    -ms-grid-columns: 1fr 0.1fr 2.5fr;
        grid-template: 0.1fr 1fr 0.25fr /1fr 0.1fr 2.5fr;
  }
}

.stories .stories-top .image {
  width: 100%;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .stories .stories-top .image {
    position: relative;
    left: -50px;
  }
}

@media screen and (min-width: 769px) {
  .stories .stories-top .image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
    width: 100%;
  }
}

.stories .stories-top .image img {
  width: 100%;
}

.stories .stories-top .float {
  position: absolute;
  top: 0;
}

@media screen and (min-width: 769px) {
  .stories .stories-top .float {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    margin-left: 60px;
  }
}

.stories .stories-top .content {
  background-color: #354463;
  color: #fff;
  padding: 7vw;
  text-align: center;
  margin-top: 7vw;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .stories .stories-top .content {
    margin-top: -50px;
    z-index: 1;
  }
}

@media screen and (min-width: 769px) {
  .stories .stories-top .content {
    width: 100%;
    padding: 3vw 3vw;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    margin-top: 0;
    text-align: left;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 769px) {
  .stories .stories-top .content h1 {
    font-size: 28px;
  }
}

.stories .stories-top .long-button {
  margin-top: 7vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 769px) {
  .stories .stories-top .long-button {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin: 20px 0px;
  }
}

.plan {
  background-color: #354463;
  padding-top: 9vw;
  padding-bottom: 7vw;
  text-align: center;
}

.plan .box {
  margin-top: 3em;
  position: relative;
}

@media screen and (max-width: 425px) {
  .plan .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .plan .box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}

@media screen and (min-width: 769px) {
  .plan .box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.1fr 1fr;
        grid-template-columns: 1fr 0.1fr 1fr;
    grid-gap: 50px;
  }
}

.plan .box .image {
  width: 100%;
}

.plan .box .image img {
  width: 100%;
}

.plan .box .float {
  background-color: #fff;
  color: #354463;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .plan .box .float {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}

@media screen and (min-width: 769px) {
  .plan .box .float {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}

.plan .box .content {
  background-color: #354463;
  color: #fff;
  padding: 7vw;
  text-align: center;
  margin-top: 7vw;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .plan .box .content {
    margin-top: 0;
    padding-left: 0;
    text-align: start;
  }
}

@media screen and (min-width: 769px) {
  .plan .box .content {
    margin-top: 0;
    padding-left: 0;
    text-align: start;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .plan .box .content h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 769px) {
  .plan .box .content h1 {
    font-size: 44px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .plan .box .content p {
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 769px) {
  .plan .box .content p {
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 769px) {
  .plan .event .image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.plan .latest-news .float {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .plan .latest-news .content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media screen and (min-width: 769px) {
  .plan .latest-news .content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .plan .latest-news .image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

@media screen and (min-width: 769px) {
  .plan .latest-news .image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.subscribe {
  background-color: #c1f7d5;
  padding-top: 7vw;
  padding-bottom: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe input {
  background-color: #fff;
}

.subscribe button {
  background-color: #354463;
  color: #fff;
}

@media screen and (max-width: 425px) {
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.subscribe .text {
  font-size: 22px;
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  .subscribe .text {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .subscribe .text {
    width: 60%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) {
  .subscribe .text {
    font-size: 28px;
  }
}

.subscribe .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.subscribe .btns .long-button {
  margin-bottom: initial;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 425px) {
  .subscribe .btns .long-button {
    margin-bottom: 12px;
  }
}

.subscribe .btns input {
  width: 55%;
  max-width: auto;
  font-size: 14px;
}

.subscribe .btns button {
  font-size: 16px;
}

footer {
  background-color: #fff;
  padding-top: 10vw;
  padding-bottom: 10vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

footer .follow-us,
footer .learn-more, footer .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer p,
footer a, footer span {
  margin: 6px 0px;
}

@media screen and (max-width: 425px) {
  footer {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr/1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  footer {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1fr 1fr/1fr 1fr 1fr;
    grid-row-gap: 30px;
  }
}

@media screen and (min-width: 769px) {
  footer {
    -ms-grid-columns: (1fr)[4] auto;
        grid-template-columns: repeat(4, 1fr) auto;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  footer .follow-us {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  footer .learn-more {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

footer .italics {
  text-align: end;
  color: #354463;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media screen and (max-width: 425px) {
  footer .italics {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  footer .italics {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}

@media screen and (min-width: 769px) {
  footer .italics {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
  }
}
/*# sourceMappingURL=home.css.map */