$italics-size: 44px;

body {
  margin: 0;
  width: 100%;
  color: #354463;
  font-family: Arial, Helvetica, sans-serif;
}

$tablet-max: 768px;
$mobile-max: 425px;

@mixin mobile {
  @media screen and (max-width: $mobile-max) {
    @content;
  }
}

@mixin tab {
  @media screen and(min-width:$mobile-max+1) and (max-width: $tablet-max) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $tablet-max+1) {
    $italics-size: 72px;
    @content;
  }
}

h1 {
  font-size: 22px;
}

header,
.main-text,
.take-action,
.what-we-do,
.did-you-know,
.stories,
.plan,
.subscribe,
footer {
  padding-left: 7vw;
  padding-right: 7vw;
}

.the-green-treees-initiative {
  font-size: 22px;
  width: 100%;
  margin: 0;
  @include mobile {
    font-size: 18px;
  }
}

.long-button {
  background-color: #c1f7d5;
  color: #354463;
  width: fit-content;
  padding: 16px;
  border-radius: 100px;
  margin-bottom: 5vw;
  font-size: 18px;
  border: none;
  font-weight: bold;
  outline:none;
}

@include mobile {
  .long-long-button {
    width: 100%;
  }
}

.float {
  background-color: #354463;
  color: #fff;
  width: fit-content;
  padding: 10px 35px;
  margin: 0;
  transform: translateY(-50%);
}

.italics {
  font-family: italics;
  width: fit-content;
  color: #fff;

  @include mobile {
    $italics-size: 44px;
    line-height: $italics-size;
    font-size: $italics-size;
  }

  @include tab {
    $italics-size: 44px;
    line-height: $italics-size;
    font-size: $italics-size;
  }

  @include desktop {
    $italics-size: 72px;
    line-height: $italics-size;
    font-size: $italics-size;
  }
}

header {
  background-color: #fff;
  padding-top: 5vw;
  display: grid;
  position: relative;
  @include mobile {
    grid-template: 1.5fr 1fr/1fr 1fr;
  }

  @include tab {
    display: grid;
    grid-template: 1.5fr 1fr/1fr 1fr;
  }

  @include desktop {
    padding-top:1vw;
    padding-bottom: 1vw;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
  }
  form {
    @include mobile {
      grid-column: 1/3;
      width:100%;
      justify-self: center;
    }
    @include tab {
      justify-self: end; 
    }
    .long-button{
      @include desktop{
        margin-bottom: 0px;
        align-self: center;
      }
    }
  }
  .header-points {
    span {
      margin-top: 0;
      margin-bottom: 5%;

      @include tab {
        padding-right: 40px;
      }

      @include desktop {
      }
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      justify-self: end;
    }

    @include tab {
      grid-column: 1/3;
      grid-row: 2/3;
      display: flex;
      flex-direction: row;
    }

    @include desktop {
      grid-column: 2/3;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
// button{
//   @include mobile{
//     grid-column: 1/3;
//   }
// }
  
}

@font-face {
  font-family: italics;
  src: url("../fonts/Flood.ttf");
}

main {
  background-color: green;
  position: relative;
  width: inherit;
  // height: 592px;
  background-image: url("../images/home/annie-spratt-135307-unsplash.png");
  @include mobile {
    background-position: left 40% top -270px;
    background-size: 1500px;
  }
  @include tab {
    background-position: left 30% top -270px;
    background-size: 1500px;
  }
  @include desktop {
    background-position: left 10% top -300px;
    background-size: 2000px;
  }
  padding-bottom: $italics-size;

  .main-text {
    height: 100%;
    padding-top: $italics-size;
    display: grid;
    @include mobile {
      grid-template-rows: 1.7fr 1fr;
    }
    @include tab {
      grid-template-rows: 1fr 1fr;
    }
    @include desktop {
      padding-top: 150px;
      grid-template-columns: 1.4fr 1fr;
      grid-gap: 44px;
    }
  }

  .italics {
    font-family: italics;
    width: fit-content;
    line-height: $italics-size;
    font-size: $italics-size;
    color: #fff;

    @include desktop {
      grid-column: 2/3;
      grid-row: 1/3;
      font-size: 72px;
    }
  }

  .the-issue {
    padding: 0px 25px 25px 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    @include mobile {
      align-items: center;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
    @include tab {
      text-align: start;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
    }
    @include desktop {
      text-align: start;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      grid-column: 1/2;
    }
    h1 {
      position: relative;
      margin-top: 0px;
      @include tab {
        font-size: 36px;
      }
      @include desktop {
        font-size: 44px;
      }
    }

    a {
      margin-top: 22px;
    }
  }
}

.take-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c1f7d5;

  .actions {
    display: grid;

    @include mobile {
      grid-template: 1fr 1fr / 1fr 1fr;
      grid-gap: 5%;
    }

    @include tab {
      grid-template: 1fr 1fr / 1fr 1fr;
      grid-gap: 5%;
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5%;
    }
  }

  h3 {
    margin: 0;
  }

  p {
    margin-top: 4%;
  }

  padding-bottom: $italics-size;
}

.what-we-do {
  background-color: #354463;

  .float {
    transform: translateY(50%);
    background-color: #fff;
    color: #354463;
    margin: auto;

    @include desktop {
      margin-left: 0%;
    }

    @include tab {
      margin-left: 0%;
    }
  }

  text-align: center;

  @include tab {
    text-align: left;
  }

  @include desktop {
    text-align: left;
  }

  h1 {
    margin: 50px 0px 70px 0px;
    color: #fff;
  }

  .grid {
    display: grid;

    @include mobile {
      grid-template-rows: repeat(3, 1fr);
    }

    @include tab {
      grid-template-rows: repeat(3, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
    }

    .box {
      background-color: #fff;
      margin-bottom: 15%;
      padding: 0% 22px;
      position: relative;

      @include tab {
        display: grid;
        grid-template: 1fr 0.3fr/1fr 1fr;
        grid-gap: 50px;
      }

      .content {
        @include tab {
          grid-row: 1/3;
          grid-column: 2/3;
          align-self: center;
        }
      }

      img {
        @include mobile {
          width: 90%;
          position: relative;
          top: -25px;
        }

        @include tab {
          width: 100%;
          position: relative;
          top: -30px;
        }

        @include desktop {
          width: 100%;
          position: relative;
          top: -35px;
          right: -55px;
        }
      }

      h3 {
        margin-top: 0;
        margin-bottom: 10px;

        @include mobile {
          font: size 18px;
        }

        @include tab {
          font-size: 22px;
        }

        @include desktop {
          padding: 0 5px;
          font-size: 28px;
        }

        p {
          margin-top: 0;
          margin-bottom: 10px;

          @include desktop {
            padding: 0 5px;
          }
        }

        .long-button {
          height: fit-content;
          @include tab {
            justify-self: center;
          }
        }
      }
    }
  }
}
.did-you-know {
  background-image: url("../images/home/did-you-know-background.jpg");
  padding-bottom: 8vw;
  padding-top: 7vw;
  @include mobile {
    background-position: left 48% bottom 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 2550px;
  }
  @include tab {
    background-position: left 68% top 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1600px;
  }
  @include desktop {
    background-position: right 0px top 0px;
    background-size: cover;

  }
  .italics {
    width: 80%;
    margin-bottom: 30px;
  }
  @include tab {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 17vw;
  }
  .float {
    transform: translateY(100%);
    margin-left: 30px;
  }
  .grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    .fact {
      background-color: #fff;
      margin-top: 20px;
      padding: 30px 30px;
      display: grid;
      grid-template-columns: 3fr 1fr;
      .share {
        display: grid;
        justify-content: end;
        align-items: center;
        .twitter {
          padding: 10px;
        }
        .fb {
          padding: 10px 15px;
        }
      }
    }
    img {
      background-color: #c1f7d5;
      border-radius: 50% 50%;
      width: initial;
      height: initial;
    }
  }
}
.stories {
  background-color: #fff;
  padding-top: 9vw;
  padding-bottom: 8vw;
  .stories-top {
    position: relative;
    display: flex;
    flex-direction: column;
    @include mobile {
      align-items: center;
      justify-content: center;
    }
    @include tab {
      margin-left: 50px;
    }
    @include desktop {
      display: grid;
      grid-template: 0.1fr 1fr 0.25fr /1fr 0.1fr 2.5fr;
    }
    .image {
      width: 100%;
      @include tab {
        position: relative;
        left: -50px;
      }
      @include desktop {
        grid-column: 2/4;
        grid-row: 1/5;
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .float {
      position: absolute;
      top: 0;
      @include desktop {
        grid-column: 3/4;
        margin-left: 60px;
      }
    }
    .content {
      background-color: #354463;
      color: #fff;
      padding: 7vw;
      text-align: center;
      margin-top: 7vw;
      @include tab {
        margin-top: -50px;
        z-index: 1;
      }
      @include desktop {
        width: 100%;
        padding: 3vw 3vw;
        grid-column: 1/3;
        grid-row-start: 2;
        margin-top: 0;
        text-align: left;
        height: fit-content;
        align-self: center;
      }
      h1 {
        @include desktop {
          font-size: 28px;
        }
      }
    }
    .long-button {
      margin-top: 7vw;
      height: fit-content;
      @include desktop {
        grid-row: 3/4;
        margin: 20px 0px;
      }
    }
  }
}

.plan {
  background-color: #354463;
  padding-top: 9vw;
  padding-bottom: 7vw;
  text-align: center;
  .box {
    margin-top: 3em;
    position: relative;
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @include tab {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
    }
    @include desktop {
      display: grid;
      grid-template-columns: 1fr 0.1fr 1fr;
      grid-gap: 50px;
    }
    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .float {
      background-color: #fff;
      color: #354463;
      position: absolute;
      top: 0;
      @include tab {
        grid-column: 2/3;
        transform: translateY(15%);
      }
      @include desktop {
        grid-column: 3/4;
        transform: translateY(15%);
      }
    }
    .content {
      background-color: #354463;
      color: #fff;
      padding: 7vw;
      text-align: center;
      margin-top: 7vw;
      @include tab {
        margin-top: 0;
        padding-left: 0;
        text-align: start;
      }
      @include desktop {
        margin-top: 0;
        padding-left: 0;
        text-align: start;
        grid-column: 3/4;
      }
      h1 {
        @include tab {
          font-size: 28px;
        }
        @include desktop {
          font-size: 44px;
        }
      }
      p {
        @include tab {
          margin-bottom: 33px;
        }
        @include desktop {
          margin-bottom: 33px;
        }
      }
    }
  }
  .event {
    .image {
      @include desktop {
        grid-column: 1/3;
      }
    }
  }
  .latest-news {
    .float {
      grid-column: 1/2;
    }
    .content {
      @include tab {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      @include desktop {
        grid-column: 1/3;
        grid-row: 1/2;
      }
    }
    .image {
      @include tab {
        grid-column: 2/4;
      }
      @include desktop {
        grid-column: 2/4;
        grid-row: 1/2;
      }
    }
  }
}

.subscribe {
  background-color: #c1f7d5;
  padding-top: 7vw;
  padding-bottom: 7vw;
  input {
    background-color: #fff;
  }
  button {
    background-color: #354463;
    color: #fff;
  }
  display: flex;
  @include mobile {
    flex-direction: column;
  }
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
  flex-direction: column;
  .text {
    font-size: 22px;
    font-weight: bold;
    @include mobile {
      width: 100%;
      margin-bottom: 15px;
    }
    @include tab {
      width: 60%;
      margin-bottom: 20px;
    }
    @include desktop {
      font-size: 28px;
    }
  }
  .btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    .long-button {
      margin-bottom: initial;
      height: fit-content;
      @include mobile{
        margin-bottom: 12px;
    }
    }
    input {
      width: 55%;
      max-width: auto;
      font-size: 14px;
      
    }
    button {
      font-size: 16px;
    }
  }
}

footer {
  background-color: #fff;
  padding-top: 10vw;
  padding-bottom: 10vw;
  .follow-us,
  .learn-more,.contact-us {
    display: flex;
    flex-direction: column;
  }
  p,
  a,span {
    margin: 6px 0px;
  }
  display: grid;
  align-items: start;
  @include mobile {
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    grid-gap: 30px;
  }
  @include tab {
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    grid-row-gap: 30px;
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr) auto;
    grid-gap: 30px;
  }
  .follow-us {
    @include tab {
      justify-self: center;
    }
  }
  .learn-more {
    @include tab {
      grid-column: 2/3;
    }
  }
  .italics {
    text-align: end;
    color: #354463;
    justify-self: end;
    @include mobile {
      grid-column: 1/3;
    }
    @include tab {
      grid-column: 3/4;
    }
    @include desktop {
      grid-column: 5/6;
    }
  }
}
